<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <!-- <li *ngFor="let tempProductCategory of productCategories">
                <a routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
                    {{ tempProductCategory.categoryName }}

                </a>
            </li> -->
            <li>
                <!-- <a routerLink="/category/1" routerLinkActive="active-link">Books</a> -->
                <button routerLink="/category/1" routerLinkActive="active-link" class="btn btn-info btn-sm"> Books</button>
            </li>
            <br>

            <li>
                <button routerLink="/category/2" routerLinkActive="active-link" class="btn btn-info btn-sm"> Coffee Mugs </button>
							<!-- <a routerLink="/category/2" routerLinkActive="active-link">Coffee Mugs</a> -->
						</li>
                        <br>

						<li>
							<!-- <a routerLink="/category/3" routerLinkActive="active-link">Mouse Pads</a> -->
                            <!-- <a routerLink="/category/3" routerLinkActive="active-link" class="security-btn">Mouse Pads</a>  -->
                            <button routerLink="/category/3" routerLinkActive="active-link" class="btn btn-info btn-sm"> Mouse Pads </button>

                            
						</li>
                        <br>
						<li>
							<!-- <a routerLink="/category/4" routerLinkActive="active-link">Luggage Tags</a> -->
                            <button routerLink="/category/4" routerLinkActive="active-link" class="btn btn-info btn-sm"> Luggage Pads </button>

						</li>
        </ul>
    </nav>
</div>